In [1]:
from netCDF4 import Dataset, Variable
import matplotlib.path as mpath
import cartopy
import xarray
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcol
import matplotlib.cm as cm
import matplotlib.ticker as mticker
from matplotlib.gridspec import GridSpec
import os
import nctoolkit as nct
import regex
from matplotlib.ticker import FormatStrFormatter
from matplotlib.ticker import StrMethodFormatter
import matplotlib.patches as mpatches
from cartopy.util import add_cyclic_point
from matplotlib import colors
import geopandas as gpd
import shapely.geometry as shp
import shapely.ops as ops
import rioxarray
import pyproj
import pandas as pd
from matplotlib.offsetbox import AnchoredText
import matplotlib as mpl
import glob

nctoolkit is using Climate Data Operators version 1.9.8

In [2]:
nct.deep_clean()

In [3]:
os.chdir('/media/jasmine/Album/Project/')
print(os.getcwd())

/media/jasmine/Album/Project

In [4]:
model = "Multimodel"
print(model)
experiment = "ssp585"
print(experiment)

Multimodel
ssp585

## Export CSV

### Whole

In [8]:
df = pd.read_csv("csv/Whole_absolute_export.csv")
df

    Correlation        p-value          Variable          Model
0     -0.704363   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5
1      0.274035   9.685865e-83               SST  ACCESS-ESM1-5
2      0.668446   0.000000e+00               PAR  ACCESS-ESM1-5
3     -0.197273   5.794513e-43           Nitrate  ACCESS-ESM1-5
4     -0.014306   3.237810e-01               MLD  ACCESS-ESM1-5
5      0.935807   0.000000e+00               NPP  ACCESS-ESM1-5
6     -0.131585   7.885020e-20              Iron  ACCESS-ESM1-5
7      0.734148   0.000000e+00            Diatom      CMCC-ESM2
8      0.715528   0.000000e+00               NPP      CMCC-ESM2
9      0.482417  2.971255e-261              Iron      CMCC-ESM2
10     0.435883  3.075217e-208               PAR      CMCC-ESM2
11     0.047105   1.567787e-03           Nitrate      CMCC-ESM2
12     0.216926   4.240859e-49               MLD      CMCC-ESM2
13    -0.258410   1.303312e-69               SST      CMCC-ESM2
14    -0.433142  2.294857e-205  Sea ice fraction      CMCC-ESM2
15     0.086415   4.165445e-07               MLD   EC-Earth3-CC
16     0.938895   0.000000e+00            Diatom   EC-Earth3-CC
17     0.889696   0.000000e+00               NPP   EC-Earth3-CC
18     0.613396   0.000000e+00               PAR   EC-Earth3-CC
19     0.002871   8.667212e-01           Nitrate   EC-Earth3-CC
20     0.061109   3.492778e-04               SST   EC-Earth3-CC
21    -0.584236  2.947753e-312  Sea ice fraction   EC-Earth3-CC
22     0.916031   0.000000e+00            Diatom   IPSL-CM6A-LR
23     0.844630   0.000000e+00               NPP   IPSL-CM6A-LR
24    -0.037260   6.033262e-03              Iron   IPSL-CM6A-LR
25     0.425490  9.961956e-238               PAR   IPSL-CM6A-LR
26    -0.585930   0.000000e+00           Nitrate   IPSL-CM6A-LR
27    -0.133423   5.414630e-23               MLD   IPSL-CM6A-LR
28    -0.316961  5.480495e-127               SST   IPSL-CM6A-LR
29    -0.109041   7.803076e-16  Sea ice fraction   IPSL-CM6A-LR
30     0.126463   1.001771e-18               MLD  MPI-ESM1-2-HR
31     0.917232   0.000000e+00               NPP  MPI-ESM1-2-HR
32    -0.668298   0.000000e+00              Iron  MPI-ESM1-2-HR
33     0.726454   0.000000e+00               PAR  MPI-ESM1-2-HR
34    -0.645606   0.000000e+00           Nitrate  MPI-ESM1-2-HR
35     0.225726   5.234078e-57               SST  MPI-ESM1-2-HR
36    -0.665061   0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR
37     0.315376   7.565142e-80              Iron   EC-Earth3-CC

In [ ]:
table = df.round({"Correlation":3})
table.head()

   Correlation       p-value          Variable          Model
0       -0.704  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5
1        0.274  9.685865e-83               SST  ACCESS-ESM1-5
2        0.668  0.000000e+00               PAR  ACCESS-ESM1-5
3       -0.197  5.794513e-43           Nitrate  ACCESS-ESM1-5
4       -0.014  3.237810e-01               MLD  ACCESS-ESM1-5

In [7]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value"])):
    if table["p-value"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_135768/2186864484.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/2186864484.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/2186864484.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation       p-value          Variable          Model asterisk
0       -0.704  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5      ***
1        0.274  9.685865e-83               SST  ACCESS-ESM1-5      ***
2        0.668  0.000000e+00               PAR  ACCESS-ESM1-5      ***
3       -0.197  5.794513e-43           Nitrate  ACCESS-ESM1-5      ***
4       -0.014  3.237810e-01               MLD  ACCESS-ESM1-5

In [14]:
table["Correlation"] = table["Correlation"].astype(str) + table["asterisk"].astype(str)
table.head()

  Correlation       p-value          Variable          Model asterisk
0   -0.704***  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5      ***
1    0.274***  9.685865e-83               SST  ACCESS-ESM1-5      ***
2    0.668***  0.000000e+00               PAR  ACCESS-ESM1-5      ***
3   -0.197***  5.794513e-43           Nitrate  ACCESS-ESM1-5      ***
4     -0.014   3.237810e-01               MLD  ACCESS-ESM1-5

In [15]:
table = table.pivot(index="Model", columns="Variable", values="Correlation")
table

Variable,Diatom,Iron,MLD,NPP,Nitrate,PAR,SST,Sea ice fraction
Model,,,,,,,,
ACCESS-ESM1-5,NaN,-0.132***,-0.014,0.936***,-0.197***,0.668***,0.274***,-0.704***
CMCC-ESM2,0.734***,0.482***,0.217***,0.716***,0.047**,0.436***,-0.258***,-0.433***
EC-Earth3-CC,0.939***,NaN,0.086***,0.89***,0.003,0.613***,0.061***,-0.584***
IPSL-CM6A-LR,0.916***,-0.037**,-0.133***,0.845***,-0.586***,0.425***,-0.317***,-0.109***
MPI-ESM1-2-HR,NaN,-0.668***,0.126***,0.917***,-0.646***,0.726***,0.226***,-0.665***

In [16]:
table.to_csv("csv/Whole_export_result.csv", index = False, header = True)

### Zone

In [153]:
df = pd.read_csv("csv/Zone_absolute_export.csv")
df

    Correlation        p-value          Variable          Model Zone
0     -0.710279   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc
1     -0.005180   9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2      0.250475   1.349183e-68               SST  ACCESS-ESM1-5  Inc
3      0.572359   1.284898e-08               SST  ACCESS-ESM1-5  Dec
4      0.670784   0.000000e+00               PAR  ACCESS-ESM1-5  Inc
..          ...            ...               ...            ...  ...
69    -0.520054  8.364889e-144           Nitrate  MPI-ESM1-2-HR  Dec
70     0.172311   4.313264e-26               SST  MPI-ESM1-2-HR  Inc
71     0.032693   1.370248e-01               SST  MPI-ESM1-2-HR  Dec
72    -0.629784   0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Inc
73    -0.160324   2.177879e-13  Sea ice fraction  MPI-ESM1-2-HR  Dec

[74 rows x 5 columns]

In [154]:
table = df.round({"Correlation":3})
table.head()

   Correlation       p-value          Variable          Model Zone
0       -0.710  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc
1       -0.005  9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2        0.250  1.349183e-68               SST  ACCESS-ESM1-5  Inc
3        0.572  1.284898e-08               SST  ACCESS-ESM1-5  Dec
4        0.671  0.000000e+00               PAR  ACCESS-ESM1-5  Inc

In [155]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value"])):
    if table["p-value"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_7944/2186864484.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_7944/2186864484.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_7944/2186864484.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_7944/2186864484.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation       p-value          Variable          Model Zone asterisk
0       -0.710  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc      ***
1       -0.005  9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2        0.250  1.349183e-68               SST  ACCESS-ESM1-5  Inc      ***
3        0.572  1.284898e-08               SST  ACCESS-ESM1-5  Dec      ***
4        0.671  0.000000e+00               PAR  ACCESS-ESM1-5  Inc      ***

In [156]:
table["Correlation"] = table["Correlation"].astype(str) + table["asterisk"].astype(str)
table.head()

  Correlation       p-value          Variable          Model Zone asterisk
0    -0.71***  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc      ***
1     -0.005   9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2     0.25***  1.349183e-68               SST  ACCESS-ESM1-5  Inc      ***
3    0.572***  1.284898e-08               SST  ACCESS-ESM1-5  Dec      ***
4    0.671***  0.000000e+00               PAR  ACCESS-ESM1-5  Inc      ***

In [157]:
table = table.pivot(index="Model", columns=["Variable", "Zone"], values="Correlation")
table

Variable      Sea ice fraction                   SST                  PAR  \
Zone                       Inc        Dec        Inc        Dec       Inc
Model
ACCESS-ESM1-5         -0.71***    -0.005     0.25***   0.572***  0.671***
CMCC-ESM2            -0.283***  -0.449***   -0.12***  -0.366***  0.316***
EC-Earth3-CC         -0.621***  -0.168***   0.124***  -0.165***  0.643***
IPSL-CM6A-LR         -0.075***  -0.112***  -0.391***     0.028   0.435***
MPI-ESM1-2-HR         -0.63***   -0.16***   0.172***     0.033   0.692***

Variable                   Nitrate                  MLD                  NPP  \
Zone                Dec        Inc       Dec        Inc        Dec       Inc
Model
ACCESS-ESM1-5    0.219*  -0.187***    0.113     -0.009   -0.508***  0.931***
CMCC-ESM2      0.313***   0.077***   -0.049    0.119***    0.088**  0.681***
EC-Earth3-CC   0.136***   -0.055**    0.027    0.128***    -0.055*  0.901***
IPSL-CM6A-LR   0.154***   -0.67***    0.035   -0.349***    0.08***  0.813***
MPI-ESM1-2-HR   0.24***  -0.566***  -0.52***   0.139***    -0.046*   0.89***

Variable                      Iron               Diatom
Zone                Dec        Inc        Dec       Inc       Dec
Model
ACCESS-ESM1-5  0.979***  -0.146***   0.684***       NaN       NaN
CMCC-ESM2      0.479***   0.478***   0.221***  0.701***  0.502***
EC-Earth3-CC   0.639***        NaN        NaN  0.927***  0.873***
IPSL-CM6A-LR   0.688***  -0.084***     0.035   0.914***  0.786***
MPI-ESM1-2-HR  0.759***  -0.601***  -0.536***       NaN       NaN

In [158]:
table.to_csv("csv/Zone_export_result.csv", index = False, header = True)

### Season

In [159]:
df = pd.read_csv("csv/Season_absolute_export.csv")
df

    Correlation        p-value          Variable          Model  Season
0     -0.572253   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer
1      0.040123   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter
2      0.674666   0.000000e+00               SST  ACCESS-ESM1-5  Summer
3     -0.465119  3.829819e-254               SST  ACCESS-ESM1-5  Winter
4      0.525751   0.000000e+00               PAR  ACCESS-ESM1-5  Summer
..          ...            ...               ...            ...     ...
69    -0.170839   4.790408e-33           Nitrate  MPI-ESM1-2-HR  Winter
70     0.539609   0.000000e+00               SST  MPI-ESM1-2-HR  Summer
71    -0.286087   6.612276e-92               SST  MPI-ESM1-2-HR  Winter
72    -0.602717   0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Summer
73    -0.337362  3.085604e-129  Sea ice fraction  MPI-ESM1-2-HR  Winter

[74 rows x 5 columns]

In [160]:
table = df.round({"Correlation":3})
table.head()

   Correlation        p-value          Variable          Model  Season
0       -0.572   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer
1        0.040   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter
2        0.675   0.000000e+00               SST  ACCESS-ESM1-5  Summer
3       -0.465  3.829819e-254               SST  ACCESS-ESM1-5  Winter
4        0.526   0.000000e+00               PAR  ACCESS-ESM1-5  Summer

In [161]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value"])):
    if table["p-value"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_7944/2186864484.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_7944/2186864484.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_7944/2186864484.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Correlation,p-value,Variable,Model,Season,asterisk
0,-0.572,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Summer,***
1,0.040,5.635494e-03,Sea ice fraction,ACCESS-ESM1-5,Winter,**
2,0.675,0.000000e+00,SST,ACCESS-ESM1-5,Summer,***
3,-0.465,3.829819e-254,SST,ACCESS-ESM1-5,Winter,***
4,0.526,0.000000e+00,PAR,ACCESS-ESM1-5,Summer,***

In [162]:
table["Correlation"] = table["Correlation"].astype(str) + table["asterisk"].astype(str)
table.head()

  Correlation        p-value          Variable          Model  Season asterisk
0   -0.572***   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer      ***
1      0.04**   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter       **
2    0.675***   0.000000e+00               SST  ACCESS-ESM1-5  Summer      ***
3   -0.465***  3.829819e-254               SST  ACCESS-ESM1-5  Winter      ***
4    0.526***   0.000000e+00               PAR  ACCESS-ESM1-5  Summer      ***

In [163]:
table = table.pivot(index="Model", columns=["Variable","Season"], values="Correlation")
table

Variable      Sea ice fraction                  SST                  PAR  \
Season                  Summer     Winter    Summer     Winter    Summer
Model
ACCESS-ESM1-5        -0.572***     0.04**  0.675***  -0.465***  0.526***
CMCC-ESM2            -0.518***   0.121***  0.233***  -0.341***  0.393***
EC-Earth3-CC         -0.625***   0.074***  0.395***   0.127***  0.592***
IPSL-CM6A-LR         -0.685***    -0.026   0.144***  -0.508***  0.739***
MPI-ESM1-2-HR        -0.603***  -0.337***   0.54***  -0.286***  0.608***

Variable                    Nitrate                   MLD             \
Season            Winter     Summer     Winter     Summer     Winter
Model
ACCESS-ESM1-5  -0.071***  -0.278***  -0.435***   -0.05***  -0.115***
CMCC-ESM2        -0.04**   0.148***    -0.004    0.491***   0.143***
EC-Earth3-CC    0.083***  -0.291***     0.031       0.01   -0.123***
IPSL-CM6A-LR    0.278***  -0.768***   -0.51***  -0.681***  -0.318***
MPI-ESM1-2-HR    0.22***  -0.692***  -0.171***   0.472***       0.0

Variable             NPP                  Iron                Diatom
Season            Summer     Winter     Summer     Winter     Summer    Winter
Model
ACCESS-ESM1-5   0.936***    0.21***  -0.319***    -0.014         NaN       NaN
CMCC-ESM2      -0.151***  -0.136***  -0.151***   0.692***  -0.166***  -0.14***
EC-Earth3-CC    0.726***   0.293***        NaN        NaN   0.907***   0.37***
IPSL-CM6A-LR    0.924***   0.053***  -0.062***    -0.3***   0.944***  0.214***
MPI-ESM1-2-HR   0.594***   0.733***  -0.689***  -0.116***        NaN       NaN

In [152]:
table.to_csv("csv/Season_export_result.csv", index = False, header = True)

## Ice CSV

### Whole

In [17]:
df = pd.read_csv("csv/Whole_absolute_ice.csv")
df

    Correlation_ice    p-value_ice Variable          Model
0          0.097492   1.459693e-11     Iron  ACCESS-ESM1-5
1         -0.704363   0.000000e+00   Export  ACCESS-ESM1-5
2         -0.612399   0.000000e+00      NPP  ACCESS-ESM1-5
3          0.006317   6.625127e-01      MLD  ACCESS-ESM1-5
4          0.138459   7.076614e-22  Nitrate  ACCESS-ESM1-5
5         -0.861118   0.000000e+00      PAR  ACCESS-ESM1-5
6         -0.025874   7.378671e-02      SST  ACCESS-ESM1-5
7          0.149666   5.672769e-24     Iron      CMCC-ESM2
8         -0.511888  2.445854e-299      NPP      CMCC-ESM2
9         -0.433142  2.294857e-205   Export      CMCC-ESM2
10        -0.439243  8.520303e-212   Diatom      CMCC-ESM2
11        -0.408096  2.582485e-180  Nitrate      CMCC-ESM2
12        -0.348016  2.246994e-128      MLD      CMCC-ESM2
13        -0.065590   1.058336e-05      SST      CMCC-ESM2
14        -0.898807   0.000000e+00      PAR      CMCC-ESM2
15        -0.584236  2.947753e-312   Export   EC-Earth3-CC
16        -0.519745  5.019477e-236   Diatom   EC-Earth3-CC
17        -0.737460   0.000000e+00      NPP   EC-Earth3-CC
18        -0.931143   0.000000e+00      PAR   EC-Earth3-CC
19         0.002740   8.727560e-01  Nitrate   EC-Earth3-CC
20        -0.197281   2.361346e-31      MLD   EC-Earth3-CC
21        -0.237653   4.051324e-45      SST   EC-Earth3-CC
22        -0.348082  1.827697e-154      NPP   IPSL-CM6A-LR
23        -0.109041   7.803076e-16   Export   IPSL-CM6A-LR
24         0.600587   0.000000e+00     Iron   IPSL-CM6A-LR
25         0.032767   1.574926e-02  Nitrate   IPSL-CM6A-LR
26         0.083782   6.279908e-10      MLD   IPSL-CM6A-LR
27        -0.011630   3.915375e-01   Diatom   IPSL-CM6A-LR
28        -0.020340   1.339765e-01      SST   IPSL-CM6A-LR
29        -0.865184   0.000000e+00      PAR   IPSL-CM6A-LR
30        -0.670259   0.000000e+00      NPP  MPI-ESM1-2-HR
31        -0.665061   0.000000e+00   Export  MPI-ESM1-2-HR
32         0.528481   0.000000e+00     Iron  MPI-ESM1-2-HR
33        -0.861335   0.000000e+00      PAR  MPI-ESM1-2-HR
34         0.513531   0.000000e+00  Nitrate  MPI-ESM1-2-HR
35        -0.145119   1.626154e-24      MLD  MPI-ESM1-2-HR
36         0.100655   1.566678e-12      SST  MPI-ESM1-2-HR

In [18]:
table = df.round({"Correlation_ice":3})
table.head()

   Correlation_ice   p-value_ice Variable          Model
0            0.097  1.459693e-11     Iron  ACCESS-ESM1-5
1           -0.704  0.000000e+00   Export  ACCESS-ESM1-5
2           -0.612  0.000000e+00      NPP  ACCESS-ESM1-5
3            0.006  6.625127e-01      MLD  ACCESS-ESM1-5
4            0.138  7.076614e-22  Nitrate  ACCESS-ESM1-5

In [19]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_ice"])):
    if table["p-value_ice"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_ice"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_ice"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_ice"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/2719132485.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model asterisk
0            0.097  1.459693e-11     Iron  ACCESS-ESM1-5      ***
1           -0.704  0.000000e+00   Export  ACCESS-ESM1-5      ***
2           -0.612  0.000000e+00      NPP  ACCESS-ESM1-5      ***
3            0.006  6.625127e-01      MLD  ACCESS-ESM1-5
4            0.138  7.076614e-22  Nitrate  ACCESS-ESM1-5      ***

In [20]:
table["Correlation"] = table["Correlation_ice"].astype(str) + table["asterisk"].astype(str)
table.head()

   Correlation_ice   p-value_ice Variable          Model asterisk Correlation
0            0.097  1.459693e-11     Iron  ACCESS-ESM1-5      ***    0.097***
1           -0.704  0.000000e+00   Export  ACCESS-ESM1-5      ***   -0.704***
2           -0.612  0.000000e+00      NPP  ACCESS-ESM1-5      ***   -0.612***
3            0.006  6.625127e-01      MLD  ACCESS-ESM1-5               0.006
4            0.138  7.076614e-22  Nitrate  ACCESS-ESM1-5      ***    0.138***

In [21]:
table = table.pivot(index="Model", columns="Variable", values="Correlation")
table

Variable,Diatom,Export,Iron,MLD,NPP,Nitrate,PAR,SST
Model,,,,,,,,
ACCESS-ESM1-5,NaN,-0.704***,0.097***,0.006,-0.612***,0.138***,-0.861***,-0.026
CMCC-ESM2,-0.439***,-0.433***,0.15***,-0.348***,-0.512***,-0.408***,-0.899***,-0.066***
EC-Earth3-CC,-0.52***,-0.584***,NaN,-0.197***,-0.737***,0.003,-0.931***,-0.238***
IPSL-CM6A-LR,-0.012,-0.109***,0.601***,0.084***,-0.348***,0.033*,-0.865***,-0.02
MPI-ESM1-2-HR,NaN,-0.665***,0.528***,-0.145***,-0.67***,0.514***,-0.861***,0.101***

In [22]:
table.to_csv("csv/Whole_ice_result.csv", index = False, header = True)

### Zone

In [23]:
df = pd.read_csv("csv/Zone_absolute_ice.csv")
df

    Correlation_ice   p-value_ice Variable          Model Zone
0          0.100280  4.504033e-12     Iron  ACCESS-ESM1-5  Inc
1          0.186034  9.020770e-02     Iron  ACCESS-ESM1-5  Dec
2         -0.710279  0.000000e+00   Export  ACCESS-ESM1-5  Inc
3         -0.005180  9.627016e-01   Export  ACCESS-ESM1-5  Dec
4         -0.615653  0.000000e+00      NPP  ACCESS-ESM1-5  Inc
..              ...           ...      ...            ...  ...
69         0.081255  2.119202e-04  Nitrate  MPI-ESM1-2-HR  Dec
70        -0.107573  4.712506e-11      MLD  MPI-ESM1-2-HR  Inc
71        -0.146843  1.819616e-11      MLD  MPI-ESM1-2-HR  Dec
72         0.219278  9.287201e-42      SST  MPI-ESM1-2-HR  Inc
73         0.181937  6.803333e-17      SST  MPI-ESM1-2-HR  Dec

[74 rows x 5 columns]

In [24]:
table = df.round({"Correlation_ice":3})
table.head()

   Correlation_ice   p-value_ice Variable          Model Zone
0            0.100  4.504033e-12     Iron  ACCESS-ESM1-5  Inc
1            0.186  9.020770e-02     Iron  ACCESS-ESM1-5  Dec
2           -0.710  0.000000e+00   Export  ACCESS-ESM1-5  Inc
3           -0.005  9.627016e-01   Export  ACCESS-ESM1-5  Dec
4           -0.616  0.000000e+00      NPP  ACCESS-ESM1-5  Inc

In [25]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_ice"])):
    if table["p-value_ice"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_ice"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_ice"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_ice"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/2719132485.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model Zone asterisk
0            0.100  4.504033e-12     Iron  ACCESS-ESM1-5  Inc      ***
1            0.186  9.020770e-02     Iron  ACCESS-ESM1-5  Dec
2           -0.710  0.000000e+00   Export  ACCESS-ESM1-5  Inc      ***
3           -0.005  9.627016e-01   Export  ACCESS-ESM1-5  Dec
4           -0.616  0.000000e+00      NPP  ACCESS-ESM1-5  Inc      ***

In [26]:
table["Correlation"] = table["Correlation_ice"].astype(str) + table["asterisk"].astype(str)
table.head()

,Correlation_ice,p-value_ice,Variable,Model,Zone,asterisk,Correlation
0,0.100,4.504033e-12,Iron,ACCESS-ESM1-5,Inc,***,0.1***
1,0.186,9.020770e-02,Iron,ACCESS-ESM1-5,Dec,,0.186
2,-0.710,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,-0.71***
3,-0.005,9.627016e-01,Export,ACCESS-ESM1-5,Dec,,-0.005
4,-0.616,0.000000e+00,NPP,ACCESS-ESM1-5,Inc,***,-0.616***

In [27]:
table = table.pivot(index="Model", columns=["Variable","Zone"], values="Correlation")
table

Variable           Iron               Export                   NPP             \
Zone                Inc       Dec        Inc        Dec        Inc        Dec
Model
ACCESS-ESM1-5    0.1***    0.186    -0.71***    -0.005   -0.616***     0.079
CMCC-ESM2      0.243***  0.299***  -0.283***  -0.449***   -0.43***  -0.454***
EC-Earth3-CC        NaN       NaN  -0.621***  -0.168***  -0.743***   -0.58***
IPSL-CM6A-LR    0.58***  0.639***  -0.075***  -0.112***  -0.347***  -0.435***
MPI-ESM1-2-HR  0.539***    0.039    -0.63***   -0.16***  -0.646***  -0.163***

Variable             MLD               Nitrate                  PAR  \
Zone                 Inc        Dec        Inc       Dec        Inc
Model
ACCESS-ESM1-5     0.004     -0.059    0.136***  0.637***  -0.861***
CMCC-ESM2      -0.343***   -0.076**  -0.512***    0.036    -0.89***
EC-Earth3-CC   -0.224***    -0.051    -0.051**   0.49***  -0.935***
IPSL-CM6A-LR    0.068***   0.096***     0.036*   -0.004   -0.819***
MPI-ESM1-2-HR  -0.108***  -0.147***   0.518***  0.081***  -0.849***

Variable                        SST               Diatom
Zone                 Dec        Inc       Dec        Inc        Dec
Model
ACCESS-ESM1-5  -0.861***     -0.01    -0.064         NaN        NaN
CMCC-ESM2      -0.823***  -0.298***  0.309***  -0.335***  -0.421***
EC-Earth3-CC   -0.875***  -0.324***   0.082**   -0.53***  -0.132***
IPSL-CM6A-LR   -0.954***  -0.177***  0.088***     0.038*     0.033
MPI-ESM1-2-HR  -0.748***   0.219***  0.182***        NaN        NaN

In [28]:
table.to_csv("csv/Zone_ice_result.csv", index = False, header = True)

### Season

In [29]:
df = pd.read_csv("csv/Season_absolute_ice.csv")
df

    Correlation_ice    p-value_ice Variable          Model  Season
0          0.017978   2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1          0.198955   7.815024e-44     Iron  ACCESS-ESM1-5  Winter
2         -0.572253   0.000000e+00   Export  ACCESS-ESM1-5  Summer
3          0.040123   5.635494e-03   Export  ACCESS-ESM1-5  Winter
4         -0.694309   0.000000e+00      NPP  ACCESS-ESM1-5  Summer
..              ...            ...      ...            ...     ...
69         0.047395   8.945665e-04  Nitrate  MPI-ESM1-2-HR  Winter
70        -0.448052  4.324337e-241      MLD  MPI-ESM1-2-HR  Summer
71        -0.020445   1.520658e-01      MLD  MPI-ESM1-2-HR  Winter
72        -0.503307  1.239561e-313      SST  MPI-ESM1-2-HR  Summer
73         0.254685   1.548017e-73      SST  MPI-ESM1-2-HR  Winter

[74 rows x 5 columns]

In [30]:
table = df.round({"Correlation_ice":3})
table.head()

   Correlation_ice   p-value_ice Variable          Model  Season
0            0.018  2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1            0.199  7.815024e-44     Iron  ACCESS-ESM1-5  Winter
2           -0.572  0.000000e+00   Export  ACCESS-ESM1-5  Summer
3            0.040  5.635494e-03   Export  ACCESS-ESM1-5  Winter
4           -0.694  0.000000e+00      NPP  ACCESS-ESM1-5  Summer

In [31]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_ice"])):
    if table["p-value_ice"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_ice"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_ice"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_ice"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/2719132485.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/2719132485.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model  Season asterisk
0            0.018  2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1            0.199  7.815024e-44     Iron  ACCESS-ESM1-5  Winter      ***
2           -0.572  0.000000e+00   Export  ACCESS-ESM1-5  Summer      ***
3            0.040  5.635494e-03   Export  ACCESS-ESM1-5  Winter       **
4           -0.694  0.000000e+00      NPP  ACCESS-ESM1-5  Summer      ***

In [32]:
table["Correlation"] = table["Correlation_ice"].astype(str) + table["asterisk"].astype(str)
table.head()

,Correlation_ice,p-value_ice,Variable,Model,Season,asterisk,Correlation
0,0.018,2.141534e-01,Iron,ACCESS-ESM1-5,Summer,,0.018
1,0.199,7.815024e-44,Iron,ACCESS-ESM1-5,Winter,***,0.199***
2,-0.572,0.000000e+00,Export,ACCESS-ESM1-5,Summer,***,-0.572***
3,0.040,5.635494e-03,Export,ACCESS-ESM1-5,Winter,**,0.04**
4,-0.694,0.000000e+00,NPP,ACCESS-ESM1-5,Summer,***,-0.694***

In [33]:
table = table.pivot(index="Model", columns=["Variable", "Season"], values="Correlation")
table

Variable           Iron               Export                   NPP             \
Season           Summer    Winter     Summer     Winter     Summer     Winter
Model
ACCESS-ESM1-5    0.018   0.199***  -0.572***     0.04**  -0.694***   -0.13***
CMCC-ESM2      0.611***   0.041**  -0.518***   0.121***  -0.277***  -0.472***
EC-Earth3-CC        NaN       NaN  -0.625***   0.074***  -0.614***   0.122***
IPSL-CM6A-LR    0.49***  0.226***  -0.685***    -0.026    -0.63***  -0.429***
MPI-ESM1-2-HR  0.664***   -0.003   -0.603***  -0.337***  -0.669***  -0.318***

Variable             MLD              Nitrate                   PAR  \
Season            Summer     Winter    Summer     Winter     Summer
Model
ACCESS-ESM1-5    0.42***   0.196***  0.408***    -0.036*  -0.948***
CMCC-ESM2      -0.471***  -0.313***   -0.034*  -0.422***  -0.946***
EC-Earth3-CC    0.093***  -0.142***  0.406***   -0.053**   -0.94***
IPSL-CM6A-LR    0.477***  -0.136***  0.557***  -0.225***  -0.972***
MPI-ESM1-2-HR  -0.448***     -0.02   0.664***   0.047***  -0.953***

Variable                        SST                Diatom
Season            Winter     Summer     Winter     Summer     Winter
Model
ACCESS-ESM1-5  -0.606***  -0.542***    0.046**        NaN        NaN
CMCC-ESM2      -0.757***  -0.357***  -0.125***  -0.208***  -0.468***
EC-Earth3-CC   -0.515***  -0.655***    0.049**  -0.516***    -0.014
IPSL-CM6A-LR   -0.758***  -0.366***  -0.144***  -0.555***  -0.538***
MPI-ESM1-2-HR  -0.628***  -0.503***   0.255***        NaN        NaN

In [34]:
table.to_csv("csv/Season_ice_result.csv", index = False, header = True)

## NPP CSV

### Whole

In [35]:
df = pd.read_csv("csv/Whole_absolute_npp.csv")
df

    Correlation_npp    p-value_npp          Variable          Model
0         -0.174320   6.735189e-34              Iron  ACCESS-ESM1-5
1          0.935807   0.000000e+00            Export  ACCESS-ESM1-5
2         -0.000614   9.661593e-01               MLD  ACCESS-ESM1-5
3         -0.053319   2.274164e-04           Nitrate  ACCESS-ESM1-5
4          0.540846   0.000000e+00               PAR  ACCESS-ESM1-5
5         -0.612399   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5
6          0.501087  4.245294e-302               SST  ACCESS-ESM1-5
7          0.488666  5.082762e-269              Iron      CMCC-ESM2
8          0.715528   0.000000e+00            Export      CMCC-ESM2
9          0.993649   0.000000e+00            Diatom      CMCC-ESM2
10         0.103285   3.717216e-12           Nitrate      CMCC-ESM2
11         0.145192   1.215404e-22               MLD      CMCC-ESM2
12        -0.203601   2.425221e-43               SST      CMCC-ESM2
13        -0.511888  2.445854e-299  Sea ice fraction      CMCC-ESM2
14         0.546582   0.000000e+00               PAR      CMCC-ESM2
15         0.889696   0.000000e+00            Export   EC-Earth3-CC
16         0.891998   0.000000e+00            Diatom   EC-Earth3-CC
17         0.760112   0.000000e+00               PAR   EC-Earth3-CC
18         0.035455   3.814255e-02           Nitrate   EC-Earth3-CC
19         0.207230   1.727687e-34               MLD   EC-Earth3-CC
20         0.268925   9.696594e-58               SST   EC-Earth3-CC
21        -0.737460   0.000000e+00  Sea ice fraction   EC-Earth3-CC
22         0.844630   0.000000e+00            Export   IPSL-CM6A-LR
23        -0.209465   6.728182e-55              Iron   IPSL-CM6A-LR
24        -0.456472  9.300028e-278           Nitrate   IPSL-CM6A-LR
25        -0.038286   4.777659e-03               MLD   IPSL-CM6A-LR
26         0.807498   0.000000e+00            Diatom   IPSL-CM6A-LR
27        -0.049151   2.909560e-04               SST   IPSL-CM6A-LR
28        -0.348082  1.827697e-154  Sea ice fraction   IPSL-CM6A-LR
29         0.614454   0.000000e+00               PAR   IPSL-CM6A-LR
30         0.917232   0.000000e+00            Export  MPI-ESM1-2-HR
31        -0.681361   0.000000e+00              Iron  MPI-ESM1-2-HR
32         0.747155   0.000000e+00               PAR  MPI-ESM1-2-HR
33        -0.657276   0.000000e+00           Nitrate  MPI-ESM1-2-HR
34         0.121615   1.225968e-17               MLD  MPI-ESM1-2-HR
35         0.200842   7.570913e-46               SST  MPI-ESM1-2-HR
36        -0.670259   0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR

In [36]:
table = df.round({"Correlation_npp":3})
table.head()

   Correlation_npp   p-value_npp Variable          Model
0           -0.174  6.735189e-34     Iron  ACCESS-ESM1-5
1            0.936  0.000000e+00   Export  ACCESS-ESM1-5
2           -0.001  9.661593e-01      MLD  ACCESS-ESM1-5
3           -0.053  2.274164e-04  Nitrate  ACCESS-ESM1-5
4            0.541  0.000000e+00      PAR  ACCESS-ESM1-5

In [37]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_npp"])):
    if table["p-value_npp"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_npp"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_npp"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_npp"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/1943046143.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model asterisk
0           -0.174  6.735189e-34     Iron  ACCESS-ESM1-5      ***
1            0.936  0.000000e+00   Export  ACCESS-ESM1-5      ***
2           -0.001  9.661593e-01      MLD  ACCESS-ESM1-5
3           -0.053  2.274164e-04  Nitrate  ACCESS-ESM1-5      ***
4            0.541  0.000000e+00      PAR  ACCESS-ESM1-5      ***

In [38]:
table["Correlation"] = table["Correlation_npp"].astype(str) + table["asterisk"].astype(str)
table.head()

   Correlation_npp   p-value_npp Variable          Model asterisk Correlation
0           -0.174  6.735189e-34     Iron  ACCESS-ESM1-5      ***   -0.174***
1            0.936  0.000000e+00   Export  ACCESS-ESM1-5      ***    0.936***
2           -0.001  9.661593e-01      MLD  ACCESS-ESM1-5              -0.001
3           -0.053  2.274164e-04  Nitrate  ACCESS-ESM1-5      ***   -0.053***
4            0.541  0.000000e+00      PAR  ACCESS-ESM1-5      ***    0.541***

In [39]:
table = table.pivot(index="Model", columns="Variable", values="Correlation")
table

Variable,Diatom,Export,Iron,MLD,Nitrate,PAR,SST,Sea ice fraction
Model,,,,,,,,
ACCESS-ESM1-5,NaN,0.936***,-0.174***,-0.001,-0.053***,0.541***,0.501***,-0.612***
CMCC-ESM2,0.994***,0.716***,0.489***,0.145***,0.103***,0.547***,-0.204***,-0.512***
EC-Earth3-CC,0.892***,0.89***,NaN,0.207***,0.035*,0.76***,0.269***,-0.737***
IPSL-CM6A-LR,0.807***,0.845***,-0.209***,-0.038**,-0.456***,0.614***,-0.049***,-0.348***
MPI-ESM1-2-HR,NaN,0.917***,-0.681***,0.122***,-0.657***,0.747***,0.201***,-0.67***

In [40]:
table.to_csv("csv/Whole_npp_result.csv", index = False, header = True)

### Zone

In [41]:
df = pd.read_csv("csv/Zone_absolute_npp.csv")
df

    Correlation_npp   p-value_npp          Variable          Model Zone
0         -0.192384  9.278001e-41              Iron  ACCESS-ESM1-5  Inc
1          0.699839  1.293361e-13              Iron  ACCESS-ESM1-5  Dec
2          0.931192  0.000000e+00            Export  ACCESS-ESM1-5  Inc
3          0.979007  2.053243e-58            Export  ACCESS-ESM1-5  Dec
4          0.005969  6.811324e-01               MLD  ACCESS-ESM1-5  Inc
..              ...           ...               ...            ...  ...
69        -0.030960  1.587005e-01               MLD  MPI-ESM1-2-HR  Dec
70         0.137371  3.833445e-17               SST  MPI-ESM1-2-HR  Inc
71         0.019126  3.839766e-01               SST  MPI-ESM1-2-HR  Dec
72        -0.645526  0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Inc
73        -0.163381  7.076932e-14  Sea ice fraction  MPI-ESM1-2-HR  Dec

[74 rows x 5 columns]

In [42]:
table = df.round({"Correlation_npp":3})
table.head()

   Correlation_npp   p-value_npp Variable          Model Zone
0           -0.192  9.278001e-41     Iron  ACCESS-ESM1-5  Inc
1            0.700  1.293361e-13     Iron  ACCESS-ESM1-5  Dec
2            0.931  0.000000e+00   Export  ACCESS-ESM1-5  Inc
3            0.979  2.053243e-58   Export  ACCESS-ESM1-5  Dec
4            0.006  6.811324e-01      MLD  ACCESS-ESM1-5  Inc

In [43]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_npp"])):
    if table["p-value_npp"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_npp"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_npp"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_npp"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/1943046143.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model Zone asterisk
0           -0.192  9.278001e-41     Iron  ACCESS-ESM1-5  Inc      ***
1            0.700  1.293361e-13     Iron  ACCESS-ESM1-5  Dec      ***
2            0.931  0.000000e+00   Export  ACCESS-ESM1-5  Inc      ***
3            0.979  2.053243e-58   Export  ACCESS-ESM1-5  Dec      ***
4            0.006  6.811324e-01      MLD  ACCESS-ESM1-5  Inc

In [44]:
table["Correlation"] = table["Correlation_npp"].astype(str) + table["asterisk"].astype(str)
table.head()

,Correlation_npp,p-value_npp,Variable,Model,Zone,asterisk,Correlation
0,-0.192,9.278001e-41,Iron,ACCESS-ESM1-5,Inc,***,-0.192***
1,0.700,1.293361e-13,Iron,ACCESS-ESM1-5,Dec,***,0.7***
2,0.931,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,0.931***
3,0.979,2.053243e-58,Export,ACCESS-ESM1-5,Dec,***,0.979***
4,0.006,6.811324e-01,MLD,ACCESS-ESM1-5,Inc,,0.006

In [45]:
table = table.pivot(index="Model", columns=["Variable","Zone"], values="Correlation")
table

Variable            Iron               Export                  MLD             \
Zone                 Inc        Dec       Inc       Dec        Inc        Dec
Model
ACCESS-ESM1-5  -0.192***     0.7***  0.931***  0.979***     0.006   -0.471***
CMCC-ESM2       0.501***   0.249***  0.681***  0.479***   0.105***    -0.037
EC-Earth3-CC         NaN        NaN  0.901***  0.639***   0.237***   0.152***
IPSL-CM6A-LR   -0.269***  -0.226***  0.813***  0.688***  -0.211***   0.174***
MPI-ESM1-2-HR   -0.62***  -0.589***   0.89***  0.759***   0.124***    -0.031

Variable         Nitrate                  PAR           Sea ice fraction  \
Zone                 Inc        Dec       Inc       Dec              Inc
Model
ACCESS-ESM1-5   -0.039**     0.163    0.54***    0.163         -0.616***
CMCC-ESM2       0.155***    -0.035   0.483***  0.385***         -0.43***
EC-Earth3-CC      0.037   -0.229***  0.764***   0.53***        -0.743***
IPSL-CM6A-LR   -0.476***     0.007   0.653***  0.466***        -0.347***
MPI-ESM1-2-HR  -0.587***  -0.567***  0.727***  0.271***        -0.646***

Variable                        SST               Diatom
Zone                 Dec        Inc        Dec       Inc       Dec
Model
ACCESS-ESM1-5     0.079    0.487***   0.632***       NaN       NaN
CMCC-ESM2      -0.454***  -0.059***  -0.339***  0.992***  0.995***
EC-Earth3-CC    -0.58***   0.332***    0.17***  0.895***  0.678***
IPSL-CM6A-LR   -0.435***    -0.05**   0.278***  0.787***  0.599***
MPI-ESM1-2-HR  -0.163***   0.137***     0.019        NaN       NaN

In [46]:
table.to_csv("csv/Zone_npp_result.csv", index = False, header = True)

### Season

In [47]:
df = pd.read_csv("csv/Season_absolute_npp.csv")
df

    Correlation_npp    p-value_npp          Variable          Model  Season
0         -0.223472   4.012707e-55              Iron  ACCESS-ESM1-5  Summer
1         -0.234857   7.458347e-61              Iron  ACCESS-ESM1-5  Winter
2         -0.137731   1.160427e-21               MLD  ACCESS-ESM1-5  Summer
3         -0.078464   5.652083e-08               MLD  ACCESS-ESM1-5  Winter
4         -0.231134   6.043659e-59           Nitrate  ACCESS-ESM1-5  Summer
..              ...            ...               ...            ...     ...
67        -0.049792   4.831565e-04               MLD  MPI-ESM1-2-HR  Winter
68         0.534407   0.000000e+00               SST  MPI-ESM1-2-HR  Summer
69        -0.077711   4.992095e-08               SST  MPI-ESM1-2-HR  Winter
70        -0.668864   0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Summer
71        -0.318238  5.964505e-116  Sea ice fraction  MPI-ESM1-2-HR  Winter

[72 rows x 5 columns]

In [48]:
table = df.round({"Correlation_npp":3})
table.head()

   Correlation_npp   p-value_npp Variable          Model  Season
0           -0.223  4.012707e-55     Iron  ACCESS-ESM1-5  Summer
1           -0.235  7.458347e-61     Iron  ACCESS-ESM1-5  Winter
2           -0.138  1.160427e-21      MLD  ACCESS-ESM1-5  Summer
3           -0.078  5.652083e-08      MLD  ACCESS-ESM1-5  Winter
4           -0.231  6.043659e-59  Nitrate  ACCESS-ESM1-5  Summer

In [49]:
table["asterisk"] = ""
table.head()

for i in range(len(table["p-value_npp"])):
    if table["p-value_npp"][i] > 0.05:
        table["asterisk"][i] = " "
    if 0.05 >= table["p-value_npp"][i] > 0.01:
        table["asterisk"][i] = "*"
    if 0.01 >= table["p-value_npp"][i] > 0.001:
        table["asterisk"][i] = "**"
    if table["p-value_npp"][i] <= 0.001:
        table["asterisk"][i] = "***"
        
table.head()

/tmp/ipykernel_20322/1943046143.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_20322/1943046143.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model  Season asterisk
0           -0.223  4.012707e-55     Iron  ACCESS-ESM1-5  Summer      ***
1           -0.235  7.458347e-61     Iron  ACCESS-ESM1-5  Winter      ***
2           -0.138  1.160427e-21      MLD  ACCESS-ESM1-5  Summer      ***
3           -0.078  5.652083e-08      MLD  ACCESS-ESM1-5  Winter      ***
4           -0.231  6.043659e-59  Nitrate  ACCESS-ESM1-5  Summer      ***

In [50]:
table["Correlation"] = table["Correlation_npp"].astype(str) + table["asterisk"].astype(str)
table.head()

,Correlation_npp,p-value_npp,Variable,Model,Season,asterisk,Correlation
0,-0.223,4.012707e-55,Iron,ACCESS-ESM1-5,Summer,***,-0.223***
1,-0.235,7.458347e-61,Iron,ACCESS-ESM1-5,Winter,***,-0.235***
2,-0.138,1.160427e-21,MLD,ACCESS-ESM1-5,Summer,***,-0.138***
3,-0.078,5.652083e-08,MLD,ACCESS-ESM1-5,Winter,***,-0.078***
4,-0.231,6.043659e-59,Nitrate,ACCESS-ESM1-5,Summer,***,-0.231***

In [51]:
table = table.pivot(index="Model", columns=["Variable","Season"], values="Correlation")
table

Variable            Iron                   MLD               Nitrate  \
Season            Summer     Winter     Summer     Winter     Summer
Model
ACCESS-ESM1-5  -0.223***  -0.235***  -0.138***  -0.078***  -0.231***
CMCC-ESM2        0.044**  -0.064***  -0.208***   0.084***  -0.487***
EC-Earth3-CC         NaN        NaN  -0.104***     0.05**  -0.269***
IPSL-CM6A-LR     -0.033*  -0.054***  -0.722***   0.301***  -0.758***
MPI-ESM1-2-HR   -0.76***    -0.018    0.269***   -0.05***  -0.751***

Variable                       PAR           Sea ice fraction             \
Season            Winter    Summer    Winter           Summer     Winter
Model
ACCESS-ESM1-5    -0.012   0.671***  0.566***        -0.694***   -0.13***
CMCC-ESM2       0.097***  0.351***  0.783***        -0.277***  -0.472***
EC-Earth3-CC   -0.059***  0.577***  0.539***        -0.614***   0.122***
IPSL-CM6A-LR    0.336***  0.691***  0.766***         -0.63***  -0.429***
MPI-ESM1-2-HR  -0.064***  0.723***  0.518***        -0.669***  -0.318***

Variable             SST                Export               Diatom
Season            Summer     Winter     Summer     Winter    Summer    Winter
Model
ACCESS-ESM1-5   0.692***    0.47***        NaN        NaN       NaN       NaN
CMCC-ESM2      -0.187***   0.142***  -0.151***  -0.136***  0.995***  0.999***
EC-Earth3-CC    0.369***   0.399***   0.726***   0.293***  0.841***   0.63***
IPSL-CM6A-LR    0.126***   0.538***   0.924***   0.053***  0.948***  0.893***
MPI-ESM1-2-HR   0.534***  -0.078***   0.594***   0.733***       NaN       NaN

In [52]:
table.to_csv("csv/Season_npp_result.csv", index = False, header = True)

## Presenting

### Whole

In [10]:
exp = pd.read_csv("csv/Whole_absolute_export.csv")
exp.tail()

    Correlation       p-value          Variable          Model
33     0.726454  0.000000e+00               PAR  MPI-ESM1-2-HR
34    -0.645606  0.000000e+00           Nitrate  MPI-ESM1-2-HR
35     0.225726  5.234078e-57               SST  MPI-ESM1-2-HR
36    -0.665061  0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR
37     0.315376  7.565142e-80              Iron   EC-Earth3-CC

In [11]:
exp = exp.round({"Correlation":2})
exp.head()

   Correlation       p-value          Variable          Model
0        -0.70  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5
1         0.27  9.685865e-83               SST  ACCESS-ESM1-5
2         0.67  0.000000e+00               PAR  ACCESS-ESM1-5
3        -0.20  5.794513e-43           Nitrate  ACCESS-ESM1-5
4        -0.01  3.237810e-01               MLD  ACCESS-ESM1-5

In [12]:
exp["asterisk"] = ""
exp.head()

for i in range(len(exp["p-value"])):
    if exp["p-value"][i] > 0.05:
        exp["asterisk"][i] = " "
    if 0.05 >= exp["p-value"][i] > 0.01:
        exp["asterisk"][i] = "*"
    if 0.01 >= exp["p-value"][i] > 0.001:
        exp["asterisk"][i] = "**"
    if exp["p-value"][i] <= 0.001:
        exp["asterisk"][i] = "***"
        
exp.head()

/tmp/ipykernel_135768/4234282320.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/4234282320.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/4234282320.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation       p-value          Variable          Model asterisk
0        -0.70  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5      ***
1         0.27  9.685865e-83               SST  ACCESS-ESM1-5      ***
2         0.67  0.000000e+00               PAR  ACCESS-ESM1-5      ***
3        -0.20  5.794513e-43           Nitrate  ACCESS-ESM1-5      ***
4        -0.01  3.237810e-01               MLD  ACCESS-ESM1-5

In [13]:
exp["Correlation"] = exp["Correlation"].astype(str) + exp["asterisk"].astype(str)
exp.head()

  Correlation       p-value          Variable          Model asterisk
0     -0.7***  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5      ***
1     0.27***  9.685865e-83               SST  ACCESS-ESM1-5      ***
2     0.67***  0.000000e+00               PAR  ACCESS-ESM1-5      ***
3     -0.2***  5.794513e-43           Nitrate  ACCESS-ESM1-5      ***
4      -0.01   3.237810e-01               MLD  ACCESS-ESM1-5

In [14]:
exp = exp.assign(Type = "Export")
exp.head()

  Correlation       p-value          Variable          Model asterisk    Type
0     -0.7***  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5      ***  Export
1     0.27***  9.685865e-83               SST  ACCESS-ESM1-5      ***  Export
2     0.67***  0.000000e+00               PAR  ACCESS-ESM1-5      ***  Export
3     -0.2***  5.794513e-43           Nitrate  ACCESS-ESM1-5      ***  Export
4      -0.01   3.237810e-01               MLD  ACCESS-ESM1-5           Export

In [16]:
ice = pd.read_csv("csv/Whole_absolute_ice.csv")
ice.tail()

    Correlation_ice   p-value_ice Variable          Model
33        -0.861335  0.000000e+00      PAR  MPI-ESM1-2-HR
34         0.513531  0.000000e+00  Nitrate  MPI-ESM1-2-HR
35        -0.145119  1.626154e-24      MLD  MPI-ESM1-2-HR
36         0.100655  1.566678e-12      SST  MPI-ESM1-2-HR
37         0.087570  2.910383e-07     Iron   EC-Earth3-CC

In [17]:
ice = ice.round({"Correlation_ice":2})
ice.head()

   Correlation_ice   p-value_ice Variable          Model
0             0.10  1.459693e-11     Iron  ACCESS-ESM1-5
1            -0.70  0.000000e+00   Export  ACCESS-ESM1-5
2            -0.61  0.000000e+00      NPP  ACCESS-ESM1-5
3             0.01  6.625127e-01      MLD  ACCESS-ESM1-5
4             0.14  7.076614e-22  Nitrate  ACCESS-ESM1-5

In [18]:
ice["asterisk"] = ""
ice.head()

for i in range(len(ice["p-value_ice"])):
    if ice["p-value_ice"][i] > 0.05:
        ice["asterisk"][i] = " "
    if 0.05 >= ice["p-value_ice"][i] > 0.01:
        ice["asterisk"][i] = "*"
    if 0.01 >= ice["p-value_ice"][i] > 0.001:
        ice["asterisk"][i] = "**"
    if ice["p-value_ice"][i] <= 0.001:
        ice["asterisk"][i] = "***"
        
ice.head()

/tmp/ipykernel_135768/426983239.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/426983239.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/426983239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model asterisk
0             0.10  1.459693e-11     Iron  ACCESS-ESM1-5      ***
1            -0.70  0.000000e+00   Export  ACCESS-ESM1-5      ***
2            -0.61  0.000000e+00      NPP  ACCESS-ESM1-5      ***
3             0.01  6.625127e-01      MLD  ACCESS-ESM1-5
4             0.14  7.076614e-22  Nitrate  ACCESS-ESM1-5      ***

In [19]:
ice["Correlation"] = ice["Correlation_ice"].astype(str) + ice["asterisk"].astype(str)
ice.head()

   Correlation_ice   p-value_ice Variable          Model asterisk Correlation
0             0.10  1.459693e-11     Iron  ACCESS-ESM1-5      ***      0.1***
1            -0.70  0.000000e+00   Export  ACCESS-ESM1-5      ***     -0.7***
2            -0.61  0.000000e+00      NPP  ACCESS-ESM1-5      ***    -0.61***
3             0.01  6.625127e-01      MLD  ACCESS-ESM1-5                0.01
4             0.14  7.076614e-22  Nitrate  ACCESS-ESM1-5      ***     0.14***

In [20]:
ice = ice.assign(Type = "Sea ice")
ice.head()

,Correlation_ice,p-value_ice,Variable,Model,asterisk,Correlation,Type
0,0.10,1.459693e-11,Iron,ACCESS-ESM1-5,***,0.1***,Sea ice
1,-0.70,0.000000e+00,Export,ACCESS-ESM1-5,***,-0.7***,Sea ice
2,-0.61,0.000000e+00,NPP,ACCESS-ESM1-5,***,-0.61***,Sea ice
3,0.01,6.625127e-01,MLD,ACCESS-ESM1-5,,0.01,Sea ice
4,0.14,7.076614e-22,Nitrate,ACCESS-ESM1-5,***,0.14***,Sea ice

In [21]:
ice = ice.drop(columns=["Correlation_ice", "p-value_ice"])
ice.head()

  Variable          Model asterisk Correlation     Type
0     Iron  ACCESS-ESM1-5      ***      0.1***  Sea ice
1   Export  ACCESS-ESM1-5      ***     -0.7***  Sea ice
2      NPP  ACCESS-ESM1-5      ***    -0.61***  Sea ice
3      MLD  ACCESS-ESM1-5                0.01   Sea ice
4  Nitrate  ACCESS-ESM1-5      ***     0.14***  Sea ice

In [23]:
npp = pd.read_csv("csv/Whole_absolute_npp.csv")
npp.tail()

    Correlation_npp   p-value_npp          Variable          Model
33        -0.657276  0.000000e+00           Nitrate  MPI-ESM1-2-HR
34         0.121615  1.225968e-17               MLD  MPI-ESM1-2-HR
35         0.200842  7.570913e-46               SST  MPI-ESM1-2-HR
36        -0.670259  0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR
37         0.232999  2.173650e-43              Iron   EC-Earth3-CC

In [24]:
npp = npp.round({"Correlation_npp":2})
npp.head()

   Correlation_npp   p-value_npp Variable          Model
0            -0.17  6.735189e-34     Iron  ACCESS-ESM1-5
1             0.94  0.000000e+00   Export  ACCESS-ESM1-5
2            -0.00  9.661593e-01      MLD  ACCESS-ESM1-5
3            -0.05  2.274164e-04  Nitrate  ACCESS-ESM1-5
4             0.54  0.000000e+00      PAR  ACCESS-ESM1-5

In [25]:
npp["asterisk"] = ""
npp.head()

for i in range(len(npp["p-value_npp"])):
    if npp["p-value_npp"][i] > 0.05:
        npp["asterisk"][i] = " "
    if 0.05 >= npp["p-value_npp"][i] > 0.01:
        npp["asterisk"][i] = "*"
    if 0.01 >= npp["p-value_npp"][i] > 0.001:
        npp["asterisk"][i] = "**"
    if npp["p-value_npp"][i] <= 0.001:
        npp["asterisk"][i] = "***"
        
npp.head()

/tmp/ipykernel_135768/1515273923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model asterisk
0            -0.17  6.735189e-34     Iron  ACCESS-ESM1-5      ***
1             0.94  0.000000e+00   Export  ACCESS-ESM1-5      ***
2            -0.00  9.661593e-01      MLD  ACCESS-ESM1-5
3            -0.05  2.274164e-04  Nitrate  ACCESS-ESM1-5      ***
4             0.54  0.000000e+00      PAR  ACCESS-ESM1-5      ***

In [26]:
npp["Correlation"] = npp["Correlation_npp"].astype(str) + npp["asterisk"].astype(str)
npp.head()

   Correlation_npp   p-value_npp Variable          Model asterisk Correlation
0            -0.17  6.735189e-34     Iron  ACCESS-ESM1-5      ***    -0.17***
1             0.94  0.000000e+00   Export  ACCESS-ESM1-5      ***     0.94***
2            -0.00  9.661593e-01      MLD  ACCESS-ESM1-5                -0.0
3            -0.05  2.274164e-04  Nitrate  ACCESS-ESM1-5      ***    -0.05***
4             0.54  0.000000e+00      PAR  ACCESS-ESM1-5      ***     0.54***

In [27]:
npp = npp.assign(Type = "NPP")
npp.head()

,Correlation_npp,p-value_npp,Variable,Model,asterisk,Correlation,Type
0,-0.17,6.735189e-34,Iron,ACCESS-ESM1-5,***,-0.17***,NPP
1,0.94,0.000000e+00,Export,ACCESS-ESM1-5,***,0.94***,NPP
2,-0.00,9.661593e-01,MLD,ACCESS-ESM1-5,,-0.0,NPP
3,-0.05,2.274164e-04,Nitrate,ACCESS-ESM1-5,***,-0.05***,NPP
4,0.54,0.000000e+00,PAR,ACCESS-ESM1-5,***,0.54***,NPP

In [28]:
npp = npp.drop(columns=["Correlation_npp", "p-value_npp"])
npp.head()

  Variable          Model asterisk Correlation Type
0     Iron  ACCESS-ESM1-5      ***    -0.17***  NPP
1   Export  ACCESS-ESM1-5      ***     0.94***  NPP
2      MLD  ACCESS-ESM1-5                -0.0   NPP
3  Nitrate  ACCESS-ESM1-5      ***    -0.05***  NPP
4      PAR  ACCESS-ESM1-5      ***     0.54***  NPP

In [29]:
data = [exp, npp, ice]

In [30]:
df = pd.concat(data)
df

,Correlation,p-value,Variable,Model,asterisk,Type
0,-0.7***,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,***,Export
1,0.27***,9.685865e-83,SST,ACCESS-ESM1-5,***,Export
2,0.67***,0.000000e+00,PAR,ACCESS-ESM1-5,***,Export
3,-0.2***,5.794513e-43,Nitrate,ACCESS-ESM1-5,***,Export
4,-0.01,3.237810e-01,MLD,ACCESS-ESM1-5,,Export
...,...,...,...,...,...,...
33,-0.86***,NaN,PAR,MPI-ESM1-2-HR,***,Sea ice
34,0.51***,NaN,Nitrate,MPI-ESM1-2-HR,***,Sea ice
35,-0.15***,NaN,MLD,MPI-ESM1-2-HR,***,Sea ice
36,0.1***,NaN,SST,MPI-ESM1-2-HR,***,Sea ice
37,0.09***,NaN,Iron,EC-Earth3-CC,***,Sea ice

In [31]:
table = df.drop(columns=["asterisk", "p-value"])
table

   Correlation          Variable          Model     Type
0      -0.7***  Sea ice fraction  ACCESS-ESM1-5   Export
1      0.27***               SST  ACCESS-ESM1-5   Export
2      0.67***               PAR  ACCESS-ESM1-5   Export
3      -0.2***           Nitrate  ACCESS-ESM1-5   Export
4       -0.01                MLD  ACCESS-ESM1-5   Export
..         ...               ...            ...      ...
33    -0.86***               PAR  MPI-ESM1-2-HR  Sea ice
34     0.51***           Nitrate  MPI-ESM1-2-HR  Sea ice
35    -0.15***               MLD  MPI-ESM1-2-HR  Sea ice
36      0.1***               SST  MPI-ESM1-2-HR  Sea ice
37     0.09***              Iron   EC-Earth3-CC  Sea ice

[114 rows x 4 columns]

In [32]:
table = table.pivot_table(index="Variable", columns=["Model", "Type"], aggfunc=''.join)
table

                   Correlation                                          \
Model            ACCESS-ESM1-5                     CMCC-ESM2
Type                    Export       NPP   Sea ice    Export       NPP
Variable
Diatom                     NaN       NaN       NaN   0.73***   0.99***
Export                     NaN   0.94***   -0.7***       NaN   0.72***
Iron                  -0.13***  -0.17***    0.1***   0.48***   0.49***
MLD                     -0.01      -0.0      0.01    0.22***   0.15***
NPP                    0.94***       NaN  -0.61***   0.72***       NaN
Nitrate                -0.2***  -0.05***   0.14***    0.05**    0.1***
PAR                    0.67***   0.54***  -0.86***   0.44***   0.55***
SST                    0.27***    0.5***    -0.03   -0.26***   -0.2***
Sea ice fraction       -0.7***  -0.61***       NaN  -0.43***  -0.51***

                                                                          \
Model                      EC-Earth3-CC                     IPSL-CM6A-LR
Type               Sea ice       Export       NPP   Sea ice       Export
Variable
Diatom            -0.44***      0.94***   0.89***  -0.52***      0.92***
Export            -0.43***          NaN   0.89***  -0.58***          NaN
Iron               0.15***      0.32***   0.23***   0.09***      -0.04**
MLD               -0.35***      0.09***   0.21***   -0.2***     -0.13***
NPP               -0.51***      0.89***       NaN  -0.74***      0.84***
Nitrate           -0.41***         0.0      0.04*      0.0      -0.59***
PAR                -0.9***      0.61***   0.76***  -0.93***      0.43***
SST               -0.07***      0.06***   0.27***  -0.24***     -0.32***
Sea ice fraction       NaN     -0.58***  -0.74***       NaN     -0.11***


Model                                MPI-ESM1-2-HR
Type                   NPP   Sea ice        Export       NPP   Sea ice
Variable
Diatom             0.81***    -0.01            NaN       NaN       NaN
Export             0.84***  -0.11***           NaN   0.92***  -0.67***
Iron              -0.21***    0.6***      -0.67***  -0.68***   0.53***
MLD                -0.04**   0.08***       0.13***   0.12***  -0.15***
NPP                    NaN  -0.35***       0.92***       NaN  -0.67***
Nitrate           -0.46***     0.03*      -0.65***  -0.66***   0.51***
PAR                0.61***  -0.87***       0.73***   0.75***  -0.86***
SST               -0.05***    -0.02        0.23***    0.2***    0.1***
Sea ice fraction  -0.35***       NaN      -0.67***  -0.67***       NaN

In [33]:
table.to_csv("csv/Whole_correlation_final.csv")

### Zone

In [34]:
exp = pd.read_csv("csv/Zone_absolute_export.csv")
exp.tail()

    Correlation       p-value          Variable          Model Zone
71     0.032693  1.370248e-01               SST  MPI-ESM1-2-HR  Dec
72    -0.629784  0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Inc
73    -0.160324  2.177879e-13  Sea ice fraction  MPI-ESM1-2-HR  Dec
74     0.250784  9.478107e-41              Iron   EC-Earth3-CC  inc
75     0.237357  2.564501e-19              Iron   EC-Earth3-CC  dec

In [35]:
exp = exp.round({"Correlation":2})
exp.head()

   Correlation       p-value          Variable          Model Zone
0        -0.71  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc
1        -0.01  9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2         0.25  1.349183e-68               SST  ACCESS-ESM1-5  Inc
3         0.57  1.284898e-08               SST  ACCESS-ESM1-5  Dec
4         0.67  0.000000e+00               PAR  ACCESS-ESM1-5  Inc

In [36]:
exp["asterisk"] = ""
exp.head()

for i in range(len(exp["p-value"])):
    if exp["p-value"][i] > 0.05:
        exp["asterisk"][i] = " "
    if 0.05 >= exp["p-value"][i] > 0.01:
        exp["asterisk"][i] = "*"
    if 0.01 >= exp["p-value"][i] > 0.001:
        exp["asterisk"][i] = "**"
    if exp["p-value"][i] <= 0.001:
        exp["asterisk"][i] = "***"
        
exp.head()

/tmp/ipykernel_135768/4234282320.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/4234282320.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/4234282320.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/4234282320.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation       p-value          Variable          Model Zone asterisk
0        -0.71  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc      ***
1        -0.01  9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2         0.25  1.349183e-68               SST  ACCESS-ESM1-5  Inc      ***
3         0.57  1.284898e-08               SST  ACCESS-ESM1-5  Dec      ***
4         0.67  0.000000e+00               PAR  ACCESS-ESM1-5  Inc      ***

In [37]:
exp["Correlation"] = exp["Correlation"].astype(str) + exp["asterisk"].astype(str)
exp.head()

  Correlation       p-value          Variable          Model Zone asterisk
0    -0.71***  0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Inc      ***
1      -0.01   9.627016e-01  Sea ice fraction  ACCESS-ESM1-5  Dec
2     0.25***  1.349183e-68               SST  ACCESS-ESM1-5  Inc      ***
3     0.57***  1.284898e-08               SST  ACCESS-ESM1-5  Dec      ***
4     0.67***  0.000000e+00               PAR  ACCESS-ESM1-5  Inc      ***

In [38]:
exp = exp.assign(Type = "Export")
exp.head()

,Correlation,p-value,Variable,Model,Zone,asterisk,Type
0,-0.71***,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Inc,***,Export
1,-0.01,9.627016e-01,Sea ice fraction,ACCESS-ESM1-5,Dec,,Export
2,0.25***,1.349183e-68,SST,ACCESS-ESM1-5,Inc,***,Export
3,0.57***,1.284898e-08,SST,ACCESS-ESM1-5,Dec,***,Export
4,0.67***,0.000000e+00,PAR,ACCESS-ESM1-5,Inc,***,Export

In [39]:
ice = pd.read_csv("csv/Zone_absolute_ice.csv")
ice.tail()

    Correlation_ice   p-value_ice Variable          Model Zone
71        -0.146843  1.819616e-11      MLD  MPI-ESM1-2-HR  Dec
72         0.219278  9.287201e-42      SST  MPI-ESM1-2-HR  Inc
73         0.181937  6.803333e-17      SST  MPI-ESM1-2-HR  Dec
74         0.111865  3.974426e-09     Iron   EC-Earth3-CC  inc
75         0.381341  1.629687e-49     Iron   EC-Earth3-CC  dec

In [40]:
ice = ice.round({"Correlation_ice":2})
ice.head()

   Correlation_ice   p-value_ice Variable          Model Zone
0             0.10  4.504033e-12     Iron  ACCESS-ESM1-5  Inc
1             0.19  9.020770e-02     Iron  ACCESS-ESM1-5  Dec
2            -0.71  0.000000e+00   Export  ACCESS-ESM1-5  Inc
3            -0.01  9.627016e-01   Export  ACCESS-ESM1-5  Dec
4            -0.62  0.000000e+00      NPP  ACCESS-ESM1-5  Inc

In [41]:
ice["asterisk"] = ""
ice.head()

for i in range(len(ice["p-value_ice"])):
    if ice["p-value_ice"][i] > 0.05:
        ice["asterisk"][i] = " "
    if 0.05 >= ice["p-value_ice"][i] > 0.01:
        ice["asterisk"][i] = "*"
    if 0.01 >= ice["p-value_ice"][i] > 0.001:
        ice["asterisk"][i] = "**"
    if ice["p-value_ice"][i] <= 0.001:
        ice["asterisk"][i] = "***"
        
ice.head()

/tmp/ipykernel_135768/426983239.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/426983239.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/426983239.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/426983239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model Zone asterisk
0             0.10  4.504033e-12     Iron  ACCESS-ESM1-5  Inc      ***
1             0.19  9.020770e-02     Iron  ACCESS-ESM1-5  Dec
2            -0.71  0.000000e+00   Export  ACCESS-ESM1-5  Inc      ***
3            -0.01  9.627016e-01   Export  ACCESS-ESM1-5  Dec
4            -0.62  0.000000e+00      NPP  ACCESS-ESM1-5  Inc      ***

In [42]:
ice["Correlation"] = ice["Correlation_ice"].astype(str) + ice["asterisk"].astype(str)
ice.head()

,Correlation_ice,p-value_ice,Variable,Model,Zone,asterisk,Correlation
0,0.10,4.504033e-12,Iron,ACCESS-ESM1-5,Inc,***,0.1***
1,0.19,9.020770e-02,Iron,ACCESS-ESM1-5,Dec,,0.19
2,-0.71,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,-0.71***
3,-0.01,9.627016e-01,Export,ACCESS-ESM1-5,Dec,,-0.01
4,-0.62,0.000000e+00,NPP,ACCESS-ESM1-5,Inc,***,-0.62***

In [43]:
ice = ice.assign(Type = "Sea ice")
ice.head()

,Correlation_ice,p-value_ice,Variable,Model,Zone,asterisk,Correlation,Type
0,0.10,4.504033e-12,Iron,ACCESS-ESM1-5,Inc,***,0.1***,Sea ice
1,0.19,9.020770e-02,Iron,ACCESS-ESM1-5,Dec,,0.19,Sea ice
2,-0.71,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,-0.71***,Sea ice
3,-0.01,9.627016e-01,Export,ACCESS-ESM1-5,Dec,,-0.01,Sea ice
4,-0.62,0.000000e+00,NPP,ACCESS-ESM1-5,Inc,***,-0.62***,Sea ice

In [44]:
ice = ice.drop(columns=["Correlation_ice", "p-value_ice"])
ice.head()

  Variable          Model Zone asterisk Correlation     Type
0     Iron  ACCESS-ESM1-5  Inc      ***      0.1***  Sea ice
1     Iron  ACCESS-ESM1-5  Dec                0.19   Sea ice
2   Export  ACCESS-ESM1-5  Inc      ***    -0.71***  Sea ice
3   Export  ACCESS-ESM1-5  Dec               -0.01   Sea ice
4      NPP  ACCESS-ESM1-5  Inc      ***    -0.62***  Sea ice

In [45]:
npp = pd.read_csv("csv/Zone_absolute_npp.csv")
npp.tail()

    Correlation_npp   p-value_npp          Variable          Model Zone
71         0.019126  3.839766e-01               SST  MPI-ESM1-2-HR  Dec
72        -0.645526  0.000000e+00  Sea ice fraction  MPI-ESM1-2-HR  Inc
73        -0.163381  7.076932e-14  Sea ice fraction  MPI-ESM1-2-HR  Dec
74         0.174962  2.301700e-20              Iron   EC-Earth3-CC  inc
75         0.064549  1.589878e-02              Iron   EC-Earth3-CC  dec

In [46]:
npp = npp.round({"Correlation_npp":2})
npp.head()

   Correlation_npp   p-value_npp Variable          Model Zone
0            -0.19  9.278001e-41     Iron  ACCESS-ESM1-5  Inc
1             0.70  1.293361e-13     Iron  ACCESS-ESM1-5  Dec
2             0.93  0.000000e+00   Export  ACCESS-ESM1-5  Inc
3             0.98  2.053243e-58   Export  ACCESS-ESM1-5  Dec
4             0.01  6.811324e-01      MLD  ACCESS-ESM1-5  Inc

In [47]:
npp["asterisk"] = ""
npp.head()

for i in range(len(npp["p-value_npp"])):
    if npp["p-value_npp"][i] > 0.05:
        npp["asterisk"][i] = " "
    if 0.05 >= npp["p-value_npp"][i] > 0.01:
        npp["asterisk"][i] = "*"
    if 0.01 >= npp["p-value_npp"][i] > 0.001:
        npp["asterisk"][i] = "**"
    if npp["p-value_npp"][i] <= 0.001:
        npp["asterisk"][i] = "***"
        
npp.head()

/tmp/ipykernel_135768/1515273923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_135768/1515273923.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model Zone asterisk
0            -0.19  9.278001e-41     Iron  ACCESS-ESM1-5  Inc      ***
1             0.70  1.293361e-13     Iron  ACCESS-ESM1-5  Dec      ***
2             0.93  0.000000e+00   Export  ACCESS-ESM1-5  Inc      ***
3             0.98  2.053243e-58   Export  ACCESS-ESM1-5  Dec      ***
4             0.01  6.811324e-01      MLD  ACCESS-ESM1-5  Inc

In [48]:
npp["Correlation"] = npp["Correlation_npp"].astype(str) + npp["asterisk"].astype(str)
npp.head()

,Correlation_npp,p-value_npp,Variable,Model,Zone,asterisk,Correlation
0,-0.19,9.278001e-41,Iron,ACCESS-ESM1-5,Inc,***,-0.19***
1,0.70,1.293361e-13,Iron,ACCESS-ESM1-5,Dec,***,0.7***
2,0.93,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,0.93***
3,0.98,2.053243e-58,Export,ACCESS-ESM1-5,Dec,***,0.98***
4,0.01,6.811324e-01,MLD,ACCESS-ESM1-5,Inc,,0.01

In [49]:
npp = npp.assign(Type = "NPP")
npp.head()

,Correlation_npp,p-value_npp,Variable,Model,Zone,asterisk,Correlation,Type
0,-0.19,9.278001e-41,Iron,ACCESS-ESM1-5,Inc,***,-0.19***,NPP
1,0.70,1.293361e-13,Iron,ACCESS-ESM1-5,Dec,***,0.7***,NPP
2,0.93,0.000000e+00,Export,ACCESS-ESM1-5,Inc,***,0.93***,NPP
3,0.98,2.053243e-58,Export,ACCESS-ESM1-5,Dec,***,0.98***,NPP
4,0.01,6.811324e-01,MLD,ACCESS-ESM1-5,Inc,,0.01,NPP

In [50]:
npp = npp.drop(columns=["Correlation_npp", "p-value_npp"])
npp.head()

  Variable          Model Zone asterisk Correlation Type
0     Iron  ACCESS-ESM1-5  Inc      ***    -0.19***  NPP
1     Iron  ACCESS-ESM1-5  Dec      ***      0.7***  NPP
2   Export  ACCESS-ESM1-5  Inc      ***     0.93***  NPP
3   Export  ACCESS-ESM1-5  Dec      ***     0.98***  NPP
4      MLD  ACCESS-ESM1-5  Inc                0.01   NPP

In [51]:
data = [exp, npp, ice]

In [52]:
df = pd.concat(data)
df

,Correlation,p-value,Variable,Model,Zone,asterisk,Type
0,-0.71***,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Inc,***,Export
1,-0.01,9.627016e-01,Sea ice fraction,ACCESS-ESM1-5,Dec,,Export
2,0.25***,1.349183e-68,SST,ACCESS-ESM1-5,Inc,***,Export
3,0.57***,1.284898e-08,SST,ACCESS-ESM1-5,Dec,***,Export
4,0.67***,0.000000e+00,PAR,ACCESS-ESM1-5,Inc,***,Export
...,...,...,...,...,...,...,...
71,-0.15***,NaN,MLD,MPI-ESM1-2-HR,Dec,***,Sea ice
72,0.22***,NaN,SST,MPI-ESM1-2-HR,Inc,***,Sea ice
73,0.18***,NaN,SST,MPI-ESM1-2-HR,Dec,***,Sea ice
74,0.11***,NaN,Iron,EC-Earth3-CC,inc,***,Sea ice
75,0.38***,NaN,Iron,EC-Earth3-CC,dec,***,Sea ice

In [58]:
table = df.drop(columns=["asterisk", "p-value"])
table

   Correlation          Variable          Model Zone     Type
0     -0.71***  Sea ice fraction  ACCESS-ESM1-5  Inc   Export
1       -0.01   Sea ice fraction  ACCESS-ESM1-5  Dec   Export
2      0.25***               SST  ACCESS-ESM1-5  Inc   Export
3      0.57***               SST  ACCESS-ESM1-5  Dec   Export
4      0.67***               PAR  ACCESS-ESM1-5  Inc   Export
..         ...               ...            ...  ...      ...
71    -0.15***               MLD  MPI-ESM1-2-HR  Dec  Sea ice
72     0.22***               SST  MPI-ESM1-2-HR  Inc  Sea ice
73     0.18***               SST  MPI-ESM1-2-HR  Dec  Sea ice
74     0.11***              Iron   EC-Earth3-CC  inc  Sea ice
75     0.38***              Iron   EC-Earth3-CC  dec  Sea ice

[228 rows x 5 columns]

In [59]:
table = table.pivot_table(index=["Variable", "Type", "Zone"], columns=["Model"], aggfunc=''.join)
table

                                Correlation                         \
Model                         ACCESS-ESM1-5 CMCC-ESM2 EC-Earth3-CC
Variable         Type    Zone
Diatom           Export  Dec            NaN    0.5***      0.87***
                         Inc            NaN    0.7***      0.93***
                 NPP     Dec            NaN   0.99***      0.68***
                         Inc            NaN   0.99***       0.9***
                 Sea ice Dec            NaN  -0.42***     -0.13***
                         Inc            NaN  -0.34***     -0.53***
Export           NPP     Dec        0.98***   0.48***      0.64***
                         Inc        0.93***   0.68***       0.9***
                 Sea ice Dec         -0.01   -0.45***     -0.17***
                         Inc       -0.71***  -0.28***     -0.62***
Iron             Export  Dec        0.68***   0.22***          NaN
                         Inc       -0.15***   0.48***          NaN
                         dec            NaN       NaN      0.24***
                         inc            NaN       NaN      0.25***
                 NPP     Dec         0.7***   0.25***          NaN
                         Inc       -0.19***    0.5***          NaN
                         dec            NaN       NaN        0.06*
                         inc            NaN       NaN      0.17***
                 Sea ice Dec          0.19     0.3***          NaN
                         Inc         0.1***   0.24***          NaN
                         dec            NaN       NaN      0.38***
                         inc            NaN       NaN      0.11***
MLD              Export  Dec       -0.51***    0.09**       -0.06*
                         Inc         -0.01    0.12***      0.13***
                 NPP     Dec       -0.47***    -0.04       0.15***
                         Inc          0.01     0.1***      0.24***
                 Sea ice Dec         -0.06    -0.08**       -0.05
                         Inc           0.0   -0.34***     -0.22***
NPP              Export  Dec        0.98***   0.48***      0.64***
                         Inc        0.93***   0.68***       0.9***
                 Sea ice Dec          0.08   -0.45***     -0.58***
                         Inc       -0.62***  -0.43***     -0.74***
Nitrate          Export  Dec          0.11     -0.05         0.03
                         Inc       -0.19***   0.08***      -0.05**
                 NPP     Dec          0.16     -0.04      -0.23***
                         Inc        -0.04**   0.15***        0.04
                 Sea ice Dec        0.64***     0.04       0.49***
                         Inc        0.14***  -0.51***      -0.05**
PAR              Export  Dec          0.22*   0.31***      0.14***
                         Inc        0.67***   0.32***      0.64***
                 NPP     Dec          0.16    0.39***      0.53***
                         Inc        0.54***   0.48***      0.76***
                 Sea ice Dec       -0.86***  -0.82***     -0.88***
                         Inc       -0.86***  -0.89***     -0.94***
SST              Export  Dec        0.57***  -0.37***     -0.16***
                         Inc        0.25***  -0.12***      0.12***
                 NPP     Dec        0.63***  -0.34***      0.17***
                         Inc        0.49***  -0.06***      0.33***
                 Sea ice Dec         -0.06    0.31***       0.08**
                         Inc         -0.01    -0.3***     -0.32***
Sea ice fraction Export  Dec         -0.01   -0.45***     -0.17***
                         Inc       -0.71***  -0.28***     -0.62***
                 NPP     Dec          0.08   -0.45***     -0.58***
                         Inc       -0.62***  -0.43***     -0.74***


Model                         IPSL-CM6A-LR MPI-ESM1-2-HR
Variable         Type    Zone
Diatom           Export  Dec       0.79***           NaN
                         Inc       0.91***           NaN
                 NPP     Dec        0.6***           NaN
                         Inc       0.79***           NaN
                 Sea ice Dec         0.03            NaN
                         Inc         0.04*           NaN
Export           NPP     Dec       0.69***       0.76***
                         Inc       0.81***       0.89***
                 Sea ice Dec      -0.11***      -0.16***
                         Inc      -0.07***      -0.63***
Iron             Export  Dec         0.04       -0.54***
                         Inc      -0.08***       -0.6***
                         dec           NaN           NaN
                         inc           NaN           NaN
                 NPP     Dec      -0.23***      -0.59***
                         Inc      -0.27***      -0.62***
                         dec           NaN           NaN
                         inc           NaN           NaN
                 Sea ice Dec       0.64***         0.04
                         Inc       0.58***       0.54***
                         dec           NaN           NaN
                         inc           NaN           NaN
MLD              Export  Dec       0.08***        -0.05*
                         Inc      -0.35***       0.14***
                 NPP     Dec       0.17***        -0.03
                         Inc      -0.21***       0.12***
                 Sea ice Dec        0.1***      -0.15***
                         Inc       0.07***      -0.11***
NPP              Export  Dec       0.69***       0.76***
                         Inc       0.81***       0.89***
                 Sea ice Dec      -0.44***      -0.16***
                         Inc      -0.35***      -0.65***
Nitrate          Export  Dec         0.03       -0.52***
                         Inc      -0.67***      -0.57***
                 NPP     Dec         0.01       -0.57***
                         Inc      -0.48***      -0.59***
                 Sea ice Dec         -0.0        0.08***
                         Inc         0.04*       0.52***
PAR              Export  Dec       0.15***       0.24***
                         Inc       0.44***       0.69***
                 NPP     Dec       0.47***       0.27***
                         Inc       0.65***       0.73***
                 Sea ice Dec      -0.95***      -0.75***
                         Inc      -0.82***      -0.85***
SST              Export  Dec         0.03          0.03
                         Inc      -0.39***       0.17***
                 NPP     Dec       0.28***         0.02
                         Inc       -0.05**       0.14***
                 Sea ice Dec       0.09***       0.18***
                         Inc      -0.18***       0.22***
Sea ice fraction Export  Dec      -0.11***      -0.16***
                         Inc      -0.07***      -0.63***
                 NPP     Dec      -0.44***      -0.16***
                         Inc      -0.35***      -0.65***

In [60]:
table.to_csv("csv/Zone_correlation_final.csv")

### Season

In [171]:
exp = pd.read_csv("csv/Season_absolute_export.csv")
exp.head()

   Correlation        p-value          Variable          Model  Season
0    -0.572253   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer
1     0.040123   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter
2     0.674666   0.000000e+00               SST  ACCESS-ESM1-5  Summer
3    -0.465119  3.829819e-254               SST  ACCESS-ESM1-5  Winter
4     0.525751   0.000000e+00               PAR  ACCESS-ESM1-5  Summer

In [172]:
exp = exp.round({"Correlation":3})
exp.head()

   Correlation        p-value          Variable          Model  Season
0       -0.572   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer
1        0.040   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter
2        0.675   0.000000e+00               SST  ACCESS-ESM1-5  Summer
3       -0.465  3.829819e-254               SST  ACCESS-ESM1-5  Winter
4        0.526   0.000000e+00               PAR  ACCESS-ESM1-5  Summer

In [173]:
exp["asterisk"] = ""
exp.head()

for i in range(len(exp["p-value"])):
    if exp["p-value"][i] > 0.05:
        exp["asterisk"][i] = " "
    if 0.05 >= exp["p-value"][i] > 0.01:
        exp["asterisk"][i] = "*"
    if 0.01 >= exp["p-value"][i] > 0.001:
        exp["asterisk"][i] = "**"
    if exp["p-value"][i] <= 0.001:
        exp["asterisk"][i] = "***"
        
exp.head()

/tmp/ipykernel_21023/4234282320.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/4234282320.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/4234282320.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Correlation,p-value,Variable,Model,Season,asterisk
0,-0.572,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Summer,***
1,0.040,5.635494e-03,Sea ice fraction,ACCESS-ESM1-5,Winter,**
2,0.675,0.000000e+00,SST,ACCESS-ESM1-5,Summer,***
3,-0.465,3.829819e-254,SST,ACCESS-ESM1-5,Winter,***
4,0.526,0.000000e+00,PAR,ACCESS-ESM1-5,Summer,***

In [174]:
exp["Correlation"] = exp["Correlation"].astype(str) + exp["asterisk"].astype(str)
exp.head()

  Correlation        p-value          Variable          Model  Season asterisk
0   -0.572***   0.000000e+00  Sea ice fraction  ACCESS-ESM1-5  Summer      ***
1      0.04**   5.635494e-03  Sea ice fraction  ACCESS-ESM1-5  Winter       **
2    0.675***   0.000000e+00               SST  ACCESS-ESM1-5  Summer      ***
3   -0.465***  3.829819e-254               SST  ACCESS-ESM1-5  Winter      ***
4    0.526***   0.000000e+00               PAR  ACCESS-ESM1-5  Summer      ***

In [175]:
exp = exp.assign(Type = "Export")
exp.head()

,Correlation,p-value,Variable,Model,Season,asterisk,Type
0,-0.572***,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Summer,***,Export
1,0.04**,5.635494e-03,Sea ice fraction,ACCESS-ESM1-5,Winter,**,Export
2,0.675***,0.000000e+00,SST,ACCESS-ESM1-5,Summer,***,Export
3,-0.465***,3.829819e-254,SST,ACCESS-ESM1-5,Winter,***,Export
4,0.526***,0.000000e+00,PAR,ACCESS-ESM1-5,Summer,***,Export

In [176]:
ice = pd.read_csv("csv/Season_absolute_ice.csv")
ice.head()

   Correlation_ice   p-value_ice Variable          Model  Season
0         0.017978  2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1         0.198955  7.815024e-44     Iron  ACCESS-ESM1-5  Winter
2        -0.572253  0.000000e+00   Export  ACCESS-ESM1-5  Summer
3         0.040123  5.635494e-03   Export  ACCESS-ESM1-5  Winter
4        -0.694309  0.000000e+00      NPP  ACCESS-ESM1-5  Summer

In [177]:
ice = ice.round({"Correlation_ice":3})
ice.head()

   Correlation_ice   p-value_ice Variable          Model  Season
0            0.018  2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1            0.199  7.815024e-44     Iron  ACCESS-ESM1-5  Winter
2           -0.572  0.000000e+00   Export  ACCESS-ESM1-5  Summer
3            0.040  5.635494e-03   Export  ACCESS-ESM1-5  Winter
4           -0.694  0.000000e+00      NPP  ACCESS-ESM1-5  Summer

In [178]:
ice["asterisk"] = ""
ice.head()

for i in range(len(ice["p-value_ice"])):
    if ice["p-value_ice"][i] > 0.05:
        ice["asterisk"][i] = " "
    if 0.05 >= ice["p-value_ice"][i] > 0.01:
        ice["asterisk"][i] = "*"
    if 0.01 >= ice["p-value_ice"][i] > 0.001:
        ice["asterisk"][i] = "**"
    if ice["p-value_ice"][i] <= 0.001:
        ice["asterisk"][i] = "***"
        
ice.head()

/tmp/ipykernel_21023/426983239.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/426983239.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/426983239.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/426983239.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_ice   p-value_ice Variable          Model  Season asterisk
0            0.018  2.141534e-01     Iron  ACCESS-ESM1-5  Summer
1            0.199  7.815024e-44     Iron  ACCESS-ESM1-5  Winter      ***
2           -0.572  0.000000e+00   Export  ACCESS-ESM1-5  Summer      ***
3            0.040  5.635494e-03   Export  ACCESS-ESM1-5  Winter       **
4           -0.694  0.000000e+00      NPP  ACCESS-ESM1-5  Summer      ***

In [179]:
ice["Correlation"] = ice["Correlation_ice"].astype(str) + ice["asterisk"].astype(str)
ice.head()

,Correlation_ice,p-value_ice,Variable,Model,Season,asterisk,Correlation
0,0.018,2.141534e-01,Iron,ACCESS-ESM1-5,Summer,,0.018
1,0.199,7.815024e-44,Iron,ACCESS-ESM1-5,Winter,***,0.199***
2,-0.572,0.000000e+00,Export,ACCESS-ESM1-5,Summer,***,-0.572***
3,0.040,5.635494e-03,Export,ACCESS-ESM1-5,Winter,**,0.04**
4,-0.694,0.000000e+00,NPP,ACCESS-ESM1-5,Summer,***,-0.694***

In [180]:
ice = ice.assign(Type = "Sea ice")
ice.head()

,Correlation_ice,p-value_ice,Variable,Model,Season,asterisk,Correlation,Type
0,0.018,2.141534e-01,Iron,ACCESS-ESM1-5,Summer,,0.018,Sea ice
1,0.199,7.815024e-44,Iron,ACCESS-ESM1-5,Winter,***,0.199***,Sea ice
2,-0.572,0.000000e+00,Export,ACCESS-ESM1-5,Summer,***,-0.572***,Sea ice
3,0.040,5.635494e-03,Export,ACCESS-ESM1-5,Winter,**,0.04**,Sea ice
4,-0.694,0.000000e+00,NPP,ACCESS-ESM1-5,Summer,***,-0.694***,Sea ice

In [181]:
ice = ice.drop(columns=["Correlation_ice", "p-value_ice"])
ice.head()

  Variable          Model  Season asterisk Correlation     Type
0     Iron  ACCESS-ESM1-5  Summer               0.018   Sea ice
1     Iron  ACCESS-ESM1-5  Winter      ***    0.199***  Sea ice
2   Export  ACCESS-ESM1-5  Summer      ***   -0.572***  Sea ice
3   Export  ACCESS-ESM1-5  Winter       **      0.04**  Sea ice
4      NPP  ACCESS-ESM1-5  Summer      ***   -0.694***  Sea ice

In [182]:
npp = pd.read_csv("csv/Season_absolute_npp.csv")
npp.head()

   Correlation_npp   p-value_npp Variable          Model  Season
0        -0.223472  4.012707e-55     Iron  ACCESS-ESM1-5  Summer
1        -0.234857  7.458347e-61     Iron  ACCESS-ESM1-5  Winter
2        -0.137731  1.160427e-21      MLD  ACCESS-ESM1-5  Summer
3        -0.078464  5.652083e-08      MLD  ACCESS-ESM1-5  Winter
4        -0.231134  6.043659e-59  Nitrate  ACCESS-ESM1-5  Summer

In [183]:
npp = npp.round({"Correlation_npp":3})
npp.head()

   Correlation_npp   p-value_npp Variable          Model  Season
0           -0.223  4.012707e-55     Iron  ACCESS-ESM1-5  Summer
1           -0.235  7.458347e-61     Iron  ACCESS-ESM1-5  Winter
2           -0.138  1.160427e-21      MLD  ACCESS-ESM1-5  Summer
3           -0.078  5.652083e-08      MLD  ACCESS-ESM1-5  Winter
4           -0.231  6.043659e-59  Nitrate  ACCESS-ESM1-5  Summer

In [184]:
npp["asterisk"] = ""
npp.head()

for i in range(len(npp["p-value_npp"])):
    if npp["p-value_npp"][i] > 0.05:
        npp["asterisk"][i] = " "
    if 0.05 >= npp["p-value_npp"][i] > 0.01:
        npp["asterisk"][i] = "*"
    if 0.01 >= npp["p-value_npp"][i] > 0.001:
        npp["asterisk"][i] = "**"
    if npp["p-value_npp"][i] <= 0.001:
        npp["asterisk"][i] = "***"
        
npp.head()

/tmp/ipykernel_21023/1515273923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/1515273923.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/1515273923.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/tmp/ipykernel_21023/1515273923.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Correlation_npp   p-value_npp Variable          Model  Season asterisk
0           -0.223  4.012707e-55     Iron  ACCESS-ESM1-5  Summer      ***
1           -0.235  7.458347e-61     Iron  ACCESS-ESM1-5  Winter      ***
2           -0.138  1.160427e-21      MLD  ACCESS-ESM1-5  Summer      ***
3           -0.078  5.652083e-08      MLD  ACCESS-ESM1-5  Winter      ***
4           -0.231  6.043659e-59  Nitrate  ACCESS-ESM1-5  Summer      ***

In [185]:
npp["Correlation"] = npp["Correlation_npp"].astype(str) + npp["asterisk"].astype(str)
npp.head()

,Correlation_npp,p-value_npp,Variable,Model,Season,asterisk,Correlation
0,-0.223,4.012707e-55,Iron,ACCESS-ESM1-5,Summer,***,-0.223***
1,-0.235,7.458347e-61,Iron,ACCESS-ESM1-5,Winter,***,-0.235***
2,-0.138,1.160427e-21,MLD,ACCESS-ESM1-5,Summer,***,-0.138***
3,-0.078,5.652083e-08,MLD,ACCESS-ESM1-5,Winter,***,-0.078***
4,-0.231,6.043659e-59,Nitrate,ACCESS-ESM1-5,Summer,***,-0.231***

In [186]:
npp = npp.assign(Type = "NPP")
npp.head()

,Correlation_npp,p-value_npp,Variable,Model,Season,asterisk,Correlation,Type
0,-0.223,4.012707e-55,Iron,ACCESS-ESM1-5,Summer,***,-0.223***,NPP
1,-0.235,7.458347e-61,Iron,ACCESS-ESM1-5,Winter,***,-0.235***,NPP
2,-0.138,1.160427e-21,MLD,ACCESS-ESM1-5,Summer,***,-0.138***,NPP
3,-0.078,5.652083e-08,MLD,ACCESS-ESM1-5,Winter,***,-0.078***,NPP
4,-0.231,6.043659e-59,Nitrate,ACCESS-ESM1-5,Summer,***,-0.231***,NPP

In [187]:
npp = npp.drop(columns=["Correlation_npp", "p-value_npp"])
npp.head()

  Variable          Model  Season asterisk Correlation Type
0     Iron  ACCESS-ESM1-5  Summer      ***   -0.223***  NPP
1     Iron  ACCESS-ESM1-5  Winter      ***   -0.235***  NPP
2      MLD  ACCESS-ESM1-5  Summer      ***   -0.138***  NPP
3      MLD  ACCESS-ESM1-5  Winter      ***   -0.078***  NPP
4  Nitrate  ACCESS-ESM1-5  Summer      ***   -0.231***  NPP

In [188]:
data = [exp, npp, ice]

In [189]:
df = pd.concat(data)
df

,Correlation,p-value,Variable,Model,Season,asterisk,Type
0,-0.572***,0.000000e+00,Sea ice fraction,ACCESS-ESM1-5,Summer,***,Export
1,0.04**,5.635494e-03,Sea ice fraction,ACCESS-ESM1-5,Winter,**,Export
2,0.675***,0.000000e+00,SST,ACCESS-ESM1-5,Summer,***,Export
3,-0.465***,3.829819e-254,SST,ACCESS-ESM1-5,Winter,***,Export
4,0.526***,0.000000e+00,PAR,ACCESS-ESM1-5,Summer,***,Export
...,...,...,...,...,...,...,...
69,0.047***,NaN,Nitrate,MPI-ESM1-2-HR,Winter,***,Sea ice
70,-0.448***,NaN,MLD,MPI-ESM1-2-HR,Summer,***,Sea ice
71,-0.02,NaN,MLD,MPI-ESM1-2-HR,Winter,,Sea ice
72,-0.503***,NaN,SST,MPI-ESM1-2-HR,Summer,***,Sea ice
73,0.255***,NaN,SST,MPI-ESM1-2-HR,Winter,***,Sea ice

In [190]:
table = df.drop(columns=["asterisk", "p-value"])
table

   Correlation          Variable          Model  Season     Type
0    -0.572***  Sea ice fraction  ACCESS-ESM1-5  Summer   Export
1       0.04**  Sea ice fraction  ACCESS-ESM1-5  Winter   Export
2     0.675***               SST  ACCESS-ESM1-5  Summer   Export
3    -0.465***               SST  ACCESS-ESM1-5  Winter   Export
4     0.526***               PAR  ACCESS-ESM1-5  Summer   Export
..         ...               ...            ...     ...      ...
69    0.047***           Nitrate  MPI-ESM1-2-HR  Winter  Sea ice
70   -0.448***               MLD  MPI-ESM1-2-HR  Summer  Sea ice
71      -0.02                MLD  MPI-ESM1-2-HR  Winter  Sea ice
72   -0.503***               SST  MPI-ESM1-2-HR  Summer  Sea ice
73    0.255***               SST  MPI-ESM1-2-HR  Winter  Sea ice

[220 rows x 5 columns]

In [191]:
table = table.pivot_table(index="Variable", columns=["Model", "Type", "Season"], aggfunc=''.join)
table

                   Correlation                                              \
Model            ACCESS-ESM1-5
Type                    Export                   NPP               Sea ice
Season                  Summer     Winter     Summer     Winter     Summer
Variable
Diatom                     NaN        NaN        NaN        NaN        NaN
Export                     NaN        NaN        NaN        NaN  -0.572***
Iron                 -0.319***    -0.014   -0.223***  -0.235***     0.018
MLD                   -0.05***  -0.115***  -0.138***  -0.078***    0.42***
NPP                   0.936***    0.21***        NaN        NaN  -0.694***
Nitrate              -0.278***  -0.435***  -0.231***    -0.012    0.408***
PAR                   0.526***  -0.071***   0.671***   0.566***  -0.948***
SST                   0.675***  -0.465***   0.692***    0.47***  -0.542***
Sea ice fraction     -0.572***     0.04**  -0.694***   -0.13***        NaN

                                                                         ...  \
Model                        CMCC-ESM2                                   ...
Type                            Export                   NPP             ...
Season               Winter     Summer     Winter     Summer     Winter  ...
Variable                                                                 ...
Diatom                  NaN  -0.166***   -0.14***   0.995***   0.999***  ...
Export               0.04**        NaN        NaN  -0.151***  -0.136***  ...
Iron               0.199***  -0.151***   0.692***    0.044**  -0.064***  ...
MLD                0.196***   0.491***   0.143***  -0.208***   0.084***  ...
NPP                -0.13***  -0.151***  -0.136***        NaN        NaN  ...
Nitrate             -0.036*   0.148***    -0.004   -0.487***   0.097***  ...
PAR               -0.606***   0.393***    -0.04**   0.351***   0.783***  ...
SST                 0.046**   0.233***  -0.341***  -0.187***   0.142***  ...
Sea ice fraction        NaN  -0.518***   0.121***  -0.277***  -0.472***  ...

                                                                              \
Model            IPSL-CM6A-LR                                  MPI-ESM1-2-HR
Type                      NPP               Sea ice                   Export
Season                 Summer     Winter     Summer     Winter        Summer
Variable
Diatom               0.948***   0.893***  -0.555***  -0.538***           NaN
Export               0.924***   0.053***  -0.685***    -0.026            NaN
Iron                  -0.033*  -0.054***    0.49***   0.226***     -0.689***
MLD                 -0.722***   0.301***   0.477***  -0.136***      0.472***
NPP                       NaN        NaN   -0.63***  -0.429***      0.594***
Nitrate             -0.758***   0.336***   0.557***  -0.225***     -0.692***
PAR                  0.691***   0.766***  -0.972***  -0.758***      0.608***
SST                  0.126***   0.538***  -0.366***  -0.144***       0.54***
Sea ice fraction     -0.63***  -0.429***        NaN        NaN     -0.603***


Model
Type                               NPP               Sea ice
Season               Winter     Summer     Winter     Summer     Winter
Variable
Diatom                  NaN        NaN        NaN        NaN        NaN
Export                  NaN   0.594***   0.733***  -0.603***  -0.337***
Iron              -0.116***   -0.76***    -0.018    0.664***    -0.003
MLD                    0.0    0.269***   -0.05***  -0.448***     -0.02
NPP                0.733***        NaN        NaN  -0.669***  -0.318***
Nitrate           -0.171***  -0.751***  -0.064***   0.664***   0.047***
PAR                 0.22***   0.723***   0.518***  -0.953***  -0.628***
SST               -0.286***   0.534***  -0.078***  -0.503***   0.255***
Sea ice fraction  -0.337***  -0.669***  -0.318***        NaN        NaN

[9 rows x 30 columns]

In [192]:
table.to_csv("csv/Season_correlation_final.csv")